@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    display: grid;
    background-color: white;
    width: 100%;
    padding: 0 15px;

}

h1 {
    font-size: 48px;
}

.header-nav {
    display: grid;
    max-width: 940px;
    width: 100%;
    margin: 15px auto 19px auto;
}

.header-nav a {
    color: #272832;
    text-decoration: none;
    font-size: 25px;
}

.section-dating {
    color: white;
    background-image: url('./assets/main.jpg');
    background-position: center;
    height: 540px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.section-dating::before {
    background: rgba(253, 110, 110, 0.40);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.main-text {
    position: relative;
}

.link-dating {
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.link-dating a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 17px 28px 19px;
    font-size: 18px;
}

.section-services {
    background-color: #EDEDED;
    color: #696969;
    height: 488px;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

.section-services h2 {
    margin: 0;
    font-size: 31px;
}

.section-services .general-section-services {
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

@media screen and (max-width: 700px) {
    .section-services .general-section-services {
        grid-template-columns: 1fr;
    }
}

.general-section-services .about-services {
    display: grid;
    grid-template-rows: max-content 1fr;
}

.list-services {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-rows: repeat(4, 1fr);
    gap: 18px;
    text-transform: uppercase;
}

.list-services li {
    padding: 12px 18px;
}

.list-services li:first-child {
    background-color: #D9D9D9;
}

.list-services li:nth-child(2) {
    background: linear-gradient(to right, #D9D9D9 90%, #ffffff 90%);
}

.list-services li:nth-child(3) {
    background: linear-gradient(to right, #D9D9D9 70%, #ffffff 70%);
}

.list-services li:nth-child(4) {
    background: linear-gradient(to right, #D9D9D9 40%, #ffffff 40%);
}

.container-section-projects {
    display: flex;
    width: 100%;
    padding: 0 1em;
}

.container-section-projects h2 {
    font-size: 31px;
    color: #4D4D4D;
    margin: 80px auto 33px auto;
    max-width: 940px;
    width: 100%;
}

.common-list-projects {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.common-list-projects a {
    display: grid;
    position: relative;
}

.common-list-projects img {
    object-fit: cover;
    width: 100%;
}

.image-card-caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.09);
    padding: 11px 19px 13px 19px;
    box-sizing: border-box;
}

.image-card-caption h3 {
    color: #F7F7F7;
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 6px;
}

.image-card-caption p {
    color: rgba(255, 255, 255, 0.49);
    text-transform: uppercase;
    font-family: Arial;
    font-size: 9px;
    margin: 0;
}

.list-projects-one {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.list-projects-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list-projects-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.list-projects-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 700px) {
    .common-list-projects {
        grid-template-columns: 1fr;
    }
}

.section-form {
    background-color: #EDEDED;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 533px;
    padding: 1em;
}

.section-form h2 {
    margin: 0;
    color: #696969;
    font-size: 31px;
    font-weight: 400;
    align-self: flex-start;
}

.container-section-form {
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns: 1fr 2fr;
    max-width: 960px;
    width: 100%;
    gap: 50px;
}

@media screen and (max-width: 700px) {
    .container-section-form {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.container-section-form article {
    max-width: 227px;
}

@media screen and (max-width: 700px) {
    .container-section-form article {
        max-width: unset;
    }
}

.container-about-form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

form input {
    border: none;
    font-size: 20px;
    padding: 7px 15px;
    width: 100%;
}

textarea {
    resize: none;
    border: none;
    font-size: 20px;
    padding: 7px 15px;
    width: 100%;
}

#name,
#budget {
    background-color: #F7F7F7;
}

.submit {
    background-color: #D1D1D1;
    width: 150px;
    padding: 6px 20px;
    border: none;
    color: #FFF;
    line-height: 44px;
}

article p {
    color: #A3A3A3;
    margin-top: 35px;
}

.section-footer {
    display: grid;
    padding: 1em;
}

.nav-footer {
    display: flex;
    gap: 20px;
    max-width: 960px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    list-style: none;
    padding: 0;
    align-items: center;
    gap: 24px;
}

.nav-footer a {
    color: #C4C4C4;
    font-size: 15px;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}

.footer-list li {
    width: 17px;
}